<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.goods.mapper.PmsAlbumPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.pms.PmsAlbumPic">
        <id column="id" property="id" />
        <result column="album_id" property="albumId" />
        <result column="pic" property="pic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, album_id, pic
    </sql>

</mapper>
