<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.goods.mapper.PmsProductAttributeCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.pms.PmsProductAttributeCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="attribute_count" property="attributeCount" />
        <result column="param_count" property="paramCount" />
    </resultMap>

    <resultMap id="getListWithAttrMap" type="com.mallplus.goods.vo.PmsProductAttributeCategoryItem"
               extends="BaseResultMap">
        <collection property="productAttributeList" columnPrefix="attr_"
                    resultMap="BaseResultMap">
        </collection>
    </resultMap>
    <select id="getListWithAttr" resultMap="getListWithAttrMap">
        SELECT
        pac.id,
        pac.name,
        pa.id attr_id,
        pa.name attr_name
        FROM
        pms_product_attribute_category pac
        LEFT JOIN pms_product_attribute pa ON pac.id = pa.product_attribute_category_id
        AND pa.type=1;
    </select>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, attribute_count, param_count
    </sql>

</mapper>
