<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.goods.mapper.PmsProductFullReductionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.pms.PmsProductFullReduction">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="full_price" property="fullPrice" />
        <result column="reduce_price" property="reducePrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, full_price, reduce_price
    </sql>

</mapper>
