<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.goods.mapper.SmsHomeAdvertiseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.sms.SmsHomeAdvertise">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="pic" property="pic" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="click_count" property="clickCount" />
        <result column="order_count" property="orderCount" />
        <result column="url" property="url" />
        <result column="note" property="note" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, pic, start_time, end_time, status, click_count, order_count, url, note, sort
    </sql>

</mapper>
