<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="vke">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>推广员注册-zscat </title>
    <link rel="stylesheet" href="/wx/css/weui.css"/>
    <link rel="stylesheet" href="/wx/css/ifMe.css"/>

    <link rel="stylesheet" href="/wx/css/jquery-weui.min.css"/>

    <script src="/wx/jquery/jquery.min.js"></script>
    <script src="/wx/jquery/jquery-weui.min.js"></script>

</head>
<body>
<div class="page register">
    <div class="page__bd">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号：</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" th:maxlength="11" placeholder="请输入手机号"  id="mobile" th:value="${phone}"/>
                </div>
            </div>
           <!-- <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">验证码：</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入收到验证码" th:value="${phoneCode}" id="vcode" th:maxlength="4"/>
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn" id="getCode">获取验证码</button>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">上线iF号：</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" th:maxlength="8" placeholder="请输入上线推广员的iF号" id="upIfCode" th:value="${upIfCode}"/>
                </div>
            </div>-->
        </div>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" href="" id="commit" th:text="提交"/>
        </div>
    </div>
</div>
<script src="/wx/js/zepto.min.js"></script>
<script src="/wx/js/signup.js"></script>
</body>
</html>