<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${ctxPath}/static/web1/css/common.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/style.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/fonts/iconfont.css" rel="stylesheet" type="text/css" />
<script src="${ctxPath}/static/web1/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/common_js.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/footer.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/lrtk.js" type="text/javascript"></script>
<title>品牌列表</title>
</head>

<body>
<!--顶部样式-->
 @layout("/web1/layout/mallHeader.html"){}
<!--品牌样式属性-->
<div class="Inside_pages clearfix">
 <!--位置-->
  <div class="Location_link">
  <em></em><a href="#">进口食品、进口牛</a>  &lt;   <a href="#">进口饼干/糕点</a>  
 </div>
 <div class="Brands_list">
 <div class="Brand_Number">共计：1234品牌</div>
  <ul>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/34.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/42.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/152.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/156.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/199.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/245.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/339.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/458.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/618.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/644.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/690.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/740.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
   <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/34.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/42.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/152.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/156.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/199.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/245.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/339.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/458.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/618.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/644.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/690.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/740.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
   <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/34.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/42.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/152.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/156.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/199.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/245.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/339.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/458.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/618.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/644.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/690.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  <li class="Brands_info"><div class="logo_style"><a href="#"><img src="products/logo/740.jpg"  width="180"/><h4>欧珀莱<span>12款宝贝</span></h4></a></div></li>
  </ul>
   <div class="Paging">
    <div class="Pagination">
    <a href="#">首页</a>
     <a href="#" class="pn-prev disabled">&lt;上一页</a>
	 <a href="#" class="on">1</a>
	 <a href="#">2</a>
	 <a href="#">3</a>
	 <a href="#">4</a>
	 <a href="#">下一页&gt;</a>
	 <a href="#">尾页</a>	
     </div>
    </div>
 </div>
</div>
  @layout("/web1/layout/mallFooter.html"){}
</body>
</html>
