<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${ctxPath}/static/web1/css/common.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/fonts/iconfont.css"  rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/style.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/Orders.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/show.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/purebox-metro.css" rel="stylesheet" id="skin">
<script src="${ctxPath}/static/web1/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.reveal.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/common_js.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/footer.js" type="text/javascript"></script>
<script type="text/javascript" src="${ctxPath!}/static/layer/layer.min.js"></script>
<title>购物车</title>
</head>
<script type="text/javascript">
$(document).ready(function () {
   //全选
   $("#CheckedAll").click(function () {
	   if (this.checked) {                 //如果当前点击的多选框被选中
		   $('input[type=checkbox][name=checkitems]').attr("checked", true);
	   } else {
		   $('input[type=checkbox][name=checkitems]').attr("checked", false);
	   }
   });
   $('input[type=checkbox][name=checkitems]').click(function () {
	   var flag = true;
	   $('input[type=checkbox][name=checkitems]').each(function () {
		   if (!this.checked) {
			   flag = false;
		   }
	   });

	   if (flag) {
		   $('#CheckedAll').attr('checked', true);
	   } else {
		   $('#CheckedAll').attr('checked', false);
	   }
   });
   //输出值
   $("#send").click(function () {
	      if($("input[type='checkbox'][name='checkitems']:checked").attr("checked")){
	   var str = "你是否要删除选中的商品：\r\n";
	   $('input[type=checkbox][name=checkitems]:checked').each(function () {
		   str += $(this).val() + "\r\n";
	   })
	   alert(str);
		  }
		  else{
			   var str = "你未选中任何商品，请选择后在操作！"; 
			   alert(str);
       }
	   	    
   });
})
</script>
<body>
<!--顶部样式-->
 @layout("/web1/layout/mallHeader.html"){}
<!--购物车样式-->
<div class="Inside_pages clearfix">
  <div class="shop_carts">
   <div class="Process"><img src="${ctxPath}/static/web1/images/Process_img_01.png" /></div>
 <div class="Shopping_list">
  <div class="title_name">
    <ul>
	<li class="checkbox"></li>
	<li class="name">商品名称</li>
	<li class="scj">市场价</li>
	<li class="bdj">本店价</li>
	<li class="sl">购买数量</li>
	<li class="xj">小计</li>
	<LI class="cz">操作</LI>
  </ul>
 </div>
  <div class="shopping">
<form method="post" id="order_form" name="order_form" action="${ctxPath!}/web1/person/submitOrder">
 <table class="table_list">
 <input type="hidden" value="1" id="addressid" name="addressid"/>
<input type="hidden" value="1" id="paymentid" name="paymentid"/>
 @for(cart in cartList!){
 <input type="hidden" name="cartIds" value="${cart.id!}"/>
   <tr class="tr">
   <td class="checkbox"><input name="checkitems" type="checkbox" value="${cart.goodsname!}" /></td>
    <td class="name">
	  <div class="img"><a href="${ctxPath!}/front/goods/goodsDetail/${cart.id!}"><img src="${ctxPath!}/static/upload/project/${cart.img}" /></a></div>
	  <div class="p_name"><a href="${ctxPath!}/front/goods/goodsDetail/${cart.id!}">${cart.goodsname!}</a></div>
	</td>
	<td class="scj sp"><span id="Original_Price_1">￥${cart.price!}</span></td>
	<td class="bgj sp" ><span id="price_item_1" id="price">￥${cart.price!}</span></td>
	<td class="sl">
	    <div class="Numbers">
		  <a onclick="changeV2()" href="javascript:void(0)" class="jian">-</a>
          <input type="text" name="qty_item_" value="${cart.count}" id="qty_item_1" onkeyup="setAmount.modify('#qty_item_1')" class="number_text">
		  <a onclick="changeV()" href="javascript:void(0)" class="jia">+</a>
		 </div>
	</td>
	<td class="xj" ><span id="total_item_1"></span><input type="hidden" name="total_price" id="total_price" value=""></td>
	<td class="cz">
	 <p><a href="#" onclick="deleteC('${cart.id!}')">删除</a><P>
	 <p><a href="#">收藏该商品</a></p>
	</td>
   </tr>
    @}
 </table>
 <div class="sp_Operation clearfix">
  <div class="select-all">
  <div class="cart-checkbox"><input type="checkbox"   id="CheckedAll" name="toggle-checkboxes" class="jdcheckbox" clstag="clickcart">全选</div>
  <div class="operation"><a href="javascript:void(0);" id="send">删除选中的商品</a></div> 
    </div>    
	 <!--结算-->
	<div class="toolbar_right">
    <ul class="Price_Info">
    <li class="p_Total"><label class="text">商品总价：</label><span class="price sumPrice" id="priceV"></span></li>
	<li class="Discount"><label class="text">以&nbsp;&nbsp;节&nbsp;&nbsp;省：</label><span class="price" id="Preferential_price"></span></li>
    <li class="integral">本次购物可获得<b id="total_points"></b>积分</li>
    </ul>
	<div class="btn"><a class="cartsubmit" href="#" onclick="addCart(2)"></a><a class="continueFind" href="${ctxPath}/web1"></a></div>
  </div>
  </div>
   </form>
 </div>
 </div>
 <!--推荐产品样式-->
 <div class="recommend_shop">
   <div class="title_name">推荐购买</div>
   <div class="recommend_list">
    <div class="hd">
     <a class="prev" href="javascript:void(0)">&gt;</a>
     <a class="next" href="javascript:void(0)">&lt;</a>
    </div>
    <div class="bd">
      <ul>
       <li class="recommend_info">
       <a href="#" class="buy_btn">立即购买</a>
       <a href="#" class="img"><img src="products/p_45.jpg" width="160px" height="160px"/></a>
       <a href="#" class="name">光明莫斯利安酸牛奶 巴氏杀菌常温200g*12盒钻石装</a>
       <h4><span class="Price"><i>RNB</i>123.00</span></h4>
       </li>
       <li class="recommend_info">
       <a href="#" class="buy_btn">立即购买</a>
       <a href="#" class="img"><img src="products/p_5.jpg" width="160px" height="160px"/></a>
       <a href="#" class="name">光明莫斯利安酸牛奶 巴氏杀菌常温200g*12盒钻石装</a>
       <h4><span class="Price"><i>RNB</i>123.00</span></h4>
       </li>
       <li class="recommend_info">
       <a href="#" class="buy_btn">立即购买</a>
       <a href="#" class="img"><img src="products/p_36.jpg" width="160px" height="160px"/></a>
       <a href="#" class="name">光明莫斯利安酸牛奶 巴氏杀菌常温200g*12盒钻石装</a>
       <h4><span class="Price"><i>RNB</i>123.00</span></h4>
       </li>
       <li class="recommend_info">
       <a href="#" class="buy_btn">立即购买</a>
       <a href="#" class="img"><img src="products/p_25.jpg" width="160px" height="160px"/></a>
       <a href="#" class="name">光明莫斯利安酸牛奶 巴氏杀菌常温200g*12盒钻石装</a>
       <h4><span class="Price"><i>RNB</i>123.00</span></h4>
       </li>
       
       <li class="recommend_info">
       <a href="#" class="buy_btn">立即购买</a>
       <a href="#" class="img"><img src="products/p_15.jpg" width="160px" height="160px"/></a>
       <a href="#" class="name">光明莫斯利安酸牛奶 巴氏杀菌常温200g*12盒钻石装</a>
       <h4><span class="Price"><i>RNB</i>123.00</span></h4>
       </li>
       <li class="recommend_info">
       <a href="#" class="buy_btn">立即购买</a>
       <a href="#" class="img"><img src="products/p_37.jpg" width="160px" height="160px"/></a>
       <a href="#" class="name">光明莫斯利安酸牛奶 巴氏杀菌常温200g*12盒钻石装</a>
       <h4><span class="Price"><i>RNB</i>123.00</span></h4>
       </li>
      </ul>  
    </div>
   </div>
   <script>jQuery(".recommend_list").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:6});</script>
 </div>
 </div>
</div>
  @layout("/web1/layout/mallFooter.html"){}
<script type="text/javascript">
		changeV1();
		function changeV1(){
			var count=parseInt($("#count").val());
			var price=$("#price").html();
			$("#priceV").html('合计：'+count*price);
		}
		function changeV(){
			var count=parseInt($("#count").val())+1;
			var price=$("#price").html();
			$("#priceV").html('合计：'+count*price);
		}
		function changeV2(){
			var count=parseInt($("#count").val())-1;
			var price=$("#price").html();
			$("#priceV").html('合计：'+count*price);
		}
		function deleteC(id){
			$.ajax({
				type: "post",
		 		url: '${ctxPath}/wap/person/deleteCart',
				data: {id:id},
				dataType: "json",
				success:function(data) {
					if(data.success){
							layer.msg("删除购车成功!",2,8);
							  window.location.reload();
					}else{
						layer.msg("删除购物车失败!",2,8);
					}
				}
			});
		}
function addCart(type){
	var goodsid=$("#goodsid").val();
	$.ajax({
		type: "post",
 		url: '${ctxPath}/wap/person/addCart',
		data: {goodsid:goodsid},
		dataType: "json",
		success:function(data) {
			if(data.success){
				if(type==1){
					layer.msg("加入购车成功!",2,8);
				}else{
					var goodsid1=$("#goodsid").val();
					window.location.href = "${ctxPath!}/wap/person/LikBuy/"+goodsid1;
				}
				
				
			}else{
				layer.msg("加入购物车失败!",2,8);
			}
		}
	});
}

</script>
</body>
</html>
