<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${ctxPath}/static/web1/css/common.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/fonts/iconfont.css"  rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/style.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/Orders.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/show.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/purebox-metro.css" rel="stylesheet" id="skin">
<script src="${ctxPath}/static/web1/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.reveal.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/common_js.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/footer.js" type="text/javascript"></script>
<title>限时团购详细</title>
</head>

<body>
<!--顶部样式-->
 @layout("/web1/layout/mallHeader.html"){}
 <!--团购详细样式-->
 <div class="Inside_pages">
<div class="Location_link">
  <em></em><a href="#">进口食品、进口牛</a>  &lt;   <a href="#">进口饼干/糕点</a>    &lt;   <a href="#">销售产品名称</a>  
 </div>
  <div class="clearfix detail_main " id="goodsInfo">
   <!--图片展示样式-->
  <div class=" left">
  <div class="picFocus">
			<div class="bd">
				<ul>
					<li><a target="_blank" href="#"><img src="big/01.jpg" /></a></li>
					<li><a target="_blank" href="#"><img src="big/02.jpg" /></a></li>
					<li><a target="_blank" href="#"><img src="big/03.jpg" /></a></li>
					<li><a target="_blank" href="#"><img src="big/04.jpg" /></a></li>
                    <li><a target="_blank" href="#"><img src="big/05.jpg" /></a></li>
				</ul>
			</div>
			<div class="hd">
				<ul>
					<li><img src="small/01.jpg" /></li>
					<li><img src="small/02.jpg" /></li>
					<li><img src="small/03.jpg" /></li>
					<li><img src="small/04.jpg" /></li>
                    <li><img src="small/05.jpg" /></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">jQuery(".picFocus").slide({ mainCell:".bd ul",autoPlay:false });</script>
  </div>
  <div class="left main_box">
  <h2 class="title">[免费领券][新品限量买一送一]好莱奴2015夏新款欧美铆钉pu双肩包女夏韩版女士休闲背包书包（每个ID限购5件）</h2>
   <div class="time">
   <div class="icon_time"></div>还剩: 2天21小时34分27.6秒</div>    
   <div class="Numbers">购买数量
		  <a href="javascript:void(0);" onclick="updatenum('del');">-</a>
		  <input id="number" name="number" type="text" value="1" class="number_text">
		  <a href="javascript:void(0);" onclick="updatenum('del');">+</a> 
		  <span>最多购买五件商品</span>
		 </div>
  <div class="status_banner">
   <div class="currentPrice"> <small>¥</small>138.00 </div>
     <div class="left"><del class="originPrice">¥596.00</del></div>
	  <div><button type="submit" class="buyaction J_BuySubmit"><span>马上抢</span></button></div>		
     </div>
     <div class="numOfPeople"><span class="num">779</span>件已售</div>	
   </div>
   <!--品牌样式-->
   <div class="right">
    <div class="Brand_Deals">
     <a href="#"><img src="products/logo/logo2.jpg"  width="140" height="50"/></a>
     <a href="#" class="link">印象堂</a>
    </div>
   </div>
  </div>
  <!--样式-->
  <div class="clearfix">
   <div class="left_style">
       <div class="user_Records">
     <div class="title_name">其他特卖商品</div>
	 <ul>
	  <li>
	   <a href="#">
	   <p><img src="Products/p_4.jpg" data-bd-imgshare-binded="1"></p>
	   <p class="p_name">SanmiuSunflower新苗向日葵 乳酪夹心饼干 270g 菲律宾进口</p>
	   </a>
	   <p><span class="p_Price"><i>￥</i>5.30</span><b>10.4</b></p>
	  </li>
	  <li>
	   <a href="#">
	   <p><img src="Products/p_5.jpg" data-bd-imgshare-binded="1"></p>
	   <p class="p_name">商品名称</p>
	   </a>
	   <p><span class="p_Price"><i>￥</i>5.30</span><b>10.4</b></p>
	  </li>
	  <li>
	   <a href="#">
	   <p><img src="Products/p_3.jpg" data-bd-imgshare-binded="1"></p>
	   <p class="p_name">商品名称</p>
	   </a>
	   <p><span class="p_Price"><i>￥</i>5.30</span><b>10.4</b></p>
	  </li>
	 </ul>
   </div>
   </div>
   <div class="right_style">
   		<div class="inDetail_boxOut ">
	 <div class="inDetail_box">
	  <div class="fixed_out ">
	   <ul class="inLeft_btn fixed_bar">
                  <li class="active"><a id="property-id" href="#shangpsx" class="current">规格与包装</a></li>
                  <li><a id="detail-id" href="#shangpjs">商品属性</a></li>
                  <li><a id="shot-id" href="#miqsp">售后服务</a></li>
                  <li><a id="coms1-id" href="#status2">买家评论(12)</a></li>
                </ul>
               <div class="subbuy">
          <span class="extra currentPrice"> ¥129.90</span>
          <a href="#" class="extra  notice J_BuyButtonSub">立即购买</a></div>
	  </div>
	 </div>	  
	</div>
   <div id="shangpsx"> 
    <ul class="shangpsx_info">
        <li><label>生产许可证编号</label><span>QS3301 1401 0973</span></li>
        <li><label>产品标准号</label><span>GB/T 18650</span></li>
        <li><label>生产日期</label><span>2015年4月</span></li>
        <li><label>有效期</label><span>三年</span></li>
        <li><label>产品名称</label><span>艺福堂茶叶 绿茶 龙井茶 西湖龙井 雨前靠谱茶</span></li>
        <li><label>净含量</label><span>250g</span></li>
        <li><label>包装</label><span>罐装</span></li>
        <li><label>品牌</label><span>艺福堂</span></li>
        <li><label>食品工艺</label><span>炒青绿茶</span></li>
        <li><label>级别</label><span>三级</span></li>
        <li><label>产地</label><span>中国大陆杭州</span></li>
        <li><label>价格</label><span>100-199元</span></li>
       </ul>
   </div>
   <div id="shangpjs" class="info_style" style="text-align:center"><img src="products/cp.jpg" /></div>
   </div>
  </div>
 </div>
  @layout("/web1/layout/mallFooter.html"){}
</body>
</html>
