<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${ctxPath}/static/web1/css/common.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/fonts/iconfont.css"  rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/style.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/Orders.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/web1/css/purebox-metro.css" rel="stylesheet" id="skin">
<script src="${ctxPath}/static/web1/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.reveal.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/common_js.js" type="text/javascript"></script>
<script src="${ctxPath}/static/web1/js/footer.js" type="text/javascript"></script>
<title>用户登录</title>
</head>

<body>
<div class="Reg_log_style">
 <div class="logo"><a href="#"><img src="${ctxPath}/static/web1/images/logo.png" /></a></div>
 <div class="login_style">
 <div class="left_img"><img src="${ctxPath}/static/web1/images/bg_name_03.png" /></div>
 <div class="right_img"><img src="${ctxPath}/static/web1/images/bg_name_05.png" /></div>
 <form id="login1-form" action="${ctxPath}/wap/login" method="post">
    <div class="title_name"><span>登录</span></div>
    <div class="login_m_1">
     <div class="add_login">
  <ul>
   <li class="frame_style"><label class="user_icon"></label><input name="username" type="text"  id="user_text"/><i></i></li>
   <li class="frame_style"><label class="password_icon"></label><input name="password" type="password"   id="tbPassword"/><i></i></li>
  </ul>
 
  <div class="auto_login clearfix">
					 	<p class="clearfix">
                    	<a id="check_agreement" href="#" class="check_agreement">自动登录</a>
                    	<input id="autoLoginCheck" type="hidden">
                    	<span id="agreement_tips" class="auto_tips" style="">请勿在公用电脑上启用</span>
                        </p>                       
                        <a href="#" target="_blank" class="forget_pswd" tabindex="-1">忘记密码？</a>
                    </div>
  <div class="center clearfix" >
  <a type="button" class="btn_pink"  name="login1" id="login1" value="登 录">登 录</a></div>
  </div>
    </form>
  <!--其他登录方式-->
  <div class="Login_Method">
    <div class="title"><span>第三方登录方式</span></div>
    <div><a href="#"><img src="${ctxPath}/static/web1/images/l_1.png" /></a><a href="#"><img src="${ctxPath}/static/web1/images/l_2.png" /></a><a href="#"><img src="${ctxPath}/static/web1/images/l_4.png" /></a>
      </div>
  </div>
 </div> 
 </div>
 </div>
 <div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br>

    </div>    	
</div>
<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='${ctxPath!}/static/jquery/jquery.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		<script type="text/javascript" src="${ctxPath!}/static/layer/layer.min.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/validate/Validform_v5.3.2_min.js"></script>
		<script type="text/javascript">
			

			jQuery(function($) {
				$("#login1-form").Validform({
					btnSubmit:"#login1",
					ajaxPost:true,
					beforeSubmit:function(curform){
						$("#login1").attr("disabled","disabled").find("span").text("登录中…");
					},
					callback:function(data){
						if(undefined != data.error){
							$("#login1").removeAttr("disabled").find("span").text("登 录");
							var obj = $("#login1-form input[data-error='"+data.error+"']");
							layer.tips(data.error,obj, {
								guide:0,
								time: 4,
								style : ['background-color:#F26C4F; color:#fff','#F26C4F' ],
							});
						}else{
							window.location.href = "${ctxPath!}/web1";
						}
					},
					tiptype : function(msg, o, cssctl) {
						if (!o.obj.is("form")) {
							if (o.type != 2) {
								layer.tips(msg, o.obj, {
									guide:3,
									time: 4,
									style : ['background-color:#F26C4F; color:#fff','#F26C4F' ],
								});
							}
						}
					},
					tipSweep : true
				});
				
				$("#login1-form").keydown(function(e){
					 var e = e || event,
					 keycode = e.which || e.keyCode;
					 if (keycode==13) {
					  $("#login1").trigger("click");
					 }
				});
				
			});
		</script>
</body>
</html>
