<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<title>黄色系网页配色分析与案例分享_我的网站</title>
    <meta name="keywords" content="网页配色,黄色" />
    <meta name="description" content="前面与大家分享了 蓝色系网页配色 和 红色系网页配色 的方法与案例，本文我们要分享的是黄色系网页配色的分析和案例。 黄色在网站设计中是需要有一定的设计功底才能驾驭的色系" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="copyright" content="Copyright dedecms51.com 版权所有" />
    
    <link href="${ctxPath!}/static/gw/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="${ctxPath!}/static/gw/Content/inner.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="${ctxPath!}/static/gw/Scripts/html5shiv.min.js"></script>
    <![endif]-->
    <script src="${ctxPath!}/static/gw/Scripts/jquery.min.js"></script>
    <script src="${ctxPath!}/static/gw/Scripts/bootstrap.min.js"></script>
    <script src="${ctxPath!}/static/gw/Scripts/inner.min.js"></script>
</head>

<body>
<header>
    <div class="box">
	    <a href="/" title="织梦网站建设与制作"><img src="${ctxPath!}/static/gw/Picture/logo_cases.png" alt="织梦设计出品" /></a>
        <div class="wechat">
    	    <img src="${ctxPath!}/static/gw/Picture/wechat_code.jpg" alt="扫描关注网站建设微信公众账号" class="wechat" /><p>扫一扫微信二维码<i></i></p>
        </div>
        <nav>
          <ul>
            <li><a href="/">zsCat首页</a></li>
            
            <li><a href="/a/cases/">设计案例</a></li>
            <li class='active'><a href='/a/news/' style='color:white;'>文章动态</a></li>
          </ul>
        </nav>
    </div>
    <footer>
	    高端定制，品牌设计<br /><u>2008 - 2015</u>作品集<br /><a href="" target="_blank">郑州网站建设与制作公司</a>
    </footer>
</header>
    
    <section class="toolbar">
    	<a href="/" title="返回首页" class="homelink"><span class="glyphicon glyphicon-chevron-left"></span></a>
    	<span class="switch glyphicon glyphicon-th-list"></span>
        <div class="btnList">
            <div class="link btn-group">
        	    <a href="/a/news/experience/" class="btn btn-default">文章列表</a>
            </div>
            <div class="link btn-group">
        	    <a href="/a/news/experience/2015/0429/48.html" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>PREV</a>
            </div>
            <div class="link btn-group">
        	    <a href="/a/news/experience/2015/0429/50.html" class="btn btn-default">NEXT<span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </section>
    
    <section class="artshow content">
        <div class="box">
        	<h1>${info.name!}</h1>
            <span class="rel">
            	zsCat<u>•</u>${info.addTime!}<u>•</u><a href="/a/news/experience/" target="_blank">经验之谈</a><u>•</u><span class="glyphicon glyphicon-eye-open" title="浏览次数"></span> 
            </span>
            <div class="words">
                	<p>
		前面与大家分享了<a href="http://www.1000zhu.com/article/47.html" target="_blank">蓝色系网页配色</a>和<a href="http://www.1000zhu.com/article/54.html" target="_blank">红色系网页配色</a>的方法与案例，本文我们要分享的是黄色系网页配色的分析和案例。</p>
	<p>${info.content!}</p>
	
	<table>
		<tbody>
			<tr class="firstRow">
				<td height="40" style="word-break: break-all; background-color: rgb(255, 232, 14);" valign="top" width="136">
					&nbsp;</td>
				<td style="background-color: rgb(209, 190, 0);" valign="top" width="136">
					&nbsp;</td>
				<td style="word-break: break-all; background-color: rgb(242, 247, 191);" valign="top" width="136">
					&nbsp;</td>
				<td style="word-break: break-all; background-color: rgb(236, 225, 145);" valign="top" width="136">
					&nbsp;</td>
				<td style="background-color: rgb(254, 236, 76);" valign="top" width="136">
					&nbsp;</td>
				<td style="background-color: rgb(229, 188, 10);" valign="top" width="136">
					&nbsp;</td>
			</tr>
			<tr>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					鲜黄色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					暗黄色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					茉莉色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					香槟黄</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					月亮黄</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					连翘黄</td>
			</tr>
			<tr>
				<td colspan="1" height="40" rowspan="1" style="word-break: break-all; background-color: rgb(254, 213, 99);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="word-break: break-all; background-color: rgb(255, 228, 161);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(162, 114, 32);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(203, 128, 11);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="word-break: break-all; background-color: rgb(183, 121, 8);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(236, 194, 76);" valign="top">
					&nbsp;</td>
			</tr>
			<tr>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					卵色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					淡黄色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					卡机色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					黄土色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					土色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					浅土色</td>
			</tr>
			<tr>
				<td colspan="1" height="40" rowspan="1" style="word-break: break-all; background-color: rgb(252, 199, 7);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(250, 177, 10);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="word-break: break-all; background-color: rgb(248, 156, 13);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(226, 147, 16);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="word-break: break-all; background-color: rgb(254, 231, 125);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(208, 164, 7);" valign="top">
					&nbsp;</td>
			</tr>
			<tr>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					铭黄</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					金黄色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					金盏花</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					落叶黄</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					秋菊黄</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					金色</td>
			</tr>
			<tr>
				<td colspan="1" height="40" rowspan="1" style="word-break: break-all; background-color: rgb(132, 106, 22);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(162, 138, 66);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(204, 192, 84);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(230, 206, 58);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(97, 73, 11);" valign="top">
					&nbsp;</td>
				<td colspan="1" rowspan="1" style="background-color: rgb(228, 221, 195);" valign="top">
					&nbsp;</td>
			</tr>
			<tr>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					黄褐色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					小麦色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					芥子色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					含羞草</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					深褐色</td>
				<td colspan="1" rowspan="1" style="word-break: break-all;" valign="top">
					象牙色</td>
			</tr>
		</tbody>
	</table>
	<p>
		&nbsp;</p>
	<p>
		分享一组黄色系的网站设计案例</p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50Q3U-0.jpg" /></p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50VZ2-1.jpg" /></p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50T1Y-2.jpg" /></p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50U547-3.jpg" /></p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50R493-4.jpg" /></p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50R054-5.jpg" /></p>
	<p align="center" style="">
		<img class="img-responsive" src="/uploads/allimg/150429/1T50T545-6.jpg" /></p>
 
            </div>
            <dl class="tags">
              <dt>文章关键词<span class="glyphicon glyphicon-tag"></span></dt>
              
              <dd><a href="/tags.php?/%E9%BB%84%E8%89%B2/" target="_blank">黄色</a></dd>
              
              <dd><a href="/tags.php?/%E7%BD%91%E9%A1%B5%E9%85%8D%E8%89%B2/" target="_blank">网页配色</a></dd>
              
            </dl>
            <div class="bdsharebuttonbox">
            	<a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            </div>
        </div>
        <aside>
        	<div class="ad"><a href="/" title="做网站，找织梦" target="_blank"><img src="${ctxPath!}/static/gw/Picture/ad.jpg" alt="建网站，找织梦，网站建设品牌设计企业" /></a></div>
            <div class="caption"><h3>推荐阅读</h3></div>
            <ul class="items">
               <li>
                  <a href="/a/news/company/2015/0429/24.html" target="_blank" class="thumb"><img src="/uploads/allimg/150429/1Q30561K-0-lp.jpg" /></a>
                  <span class="title"><a href="/a/news/company/2015/0429/24.html" target="_blank" title="2015羊年大吉，织梦无忧网">2015羊年大吉，织梦无忧网 ...</a></span>
                  <span class="rel">今日<span class="glyphicon glyphicon-eye-open" title="浏览次数"></span>169</span>
                </li>
<li>
                  <a href="/a/news/industry/2015/0429/35.html" target="_blank" class="thumb"><img src="/uploads/allimg/150429/1-1504291TK05R.jpg" /></a>
                  <span class="title"><a href="/a/news/industry/2015/0429/35.html" target="_blank" title="国家发改委推行电子政务">国家发改委推行电子政务 ...</a></span>
                  <span class="rel">37天前<span class="glyphicon glyphicon-eye-open" title="浏览次数"></span>53</span>
                </li>
<li>
                  <a href="/a/news/experience/2015/0429/51.html" target="_blank" class="thumb"><img src="/uploads/allimg/150429/1T6424N4-0-lp.jpg" /></a>
                  <span class="title"><a href="/a/news/experience/2015/0429/51.html" target="_blank" title="钱都砸去哪里了，为什么">钱都砸去哪里了，为什么 ...</a></span>
                  <span class="rel">37天前<span class="glyphicon glyphicon-eye-open" title="浏览次数"></span>164</span>
                </li>
<li>
                  <a href="/a/news/experience/2015/0429/50.html" target="_blank" class="thumb"><img src="/uploads/allimg/150429/1T55SP3-0-lp.jpg" /></a>
                  <span class="title"><a href="/a/news/experience/2015/0429/50.html" target="_blank" title="不是“PC端 + 移动端”的网">不是“PC端 + 移动端”的网 ...</a></span>
                  <span class="rel">37天前<span class="glyphicon glyphicon-eye-open" title="浏览次数"></span>180</span>
                </li>

            </ul>
        </aside>
    </section>
    
    <div class="dock">
        <ul class="icons">
        	<li class="up"><i></i></li>
            <li class="tel">
            	<i></i><p>建站咨询热线<br />150-2021-7966</p>
            </li>
            <li class="im">
            	<i></i><p><a href="http://wpa.qq.com/msgrd?v=3&uin=379144319&site=qq&menu=yes" target="_blank">点我，建站咨询</a></p>
            </li>
        </ul>
    </div>
    
    <script>        
      

        window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "黄色系网页配色分析与案例分享", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
</body>
</html>