<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<title>设计案例_我的网站</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="copyright" content="Copyright zsCat.com 版权所有" />
    
    <link href="${ctxPath!}/static/gw/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="${ctxPath!}/static/gw/Content/inner.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="${ctxPath!}/static/gw/Scripts/html5shiv.min.js"></script>
    <![endif]-->
    <script src="${ctxPath!}/static/gw/Scripts/jquery.min.js"></script>
    <script src="${ctxPath!}/static/gw/Scripts/bootstrap.min.js"></script>
    <script src="${ctxPath!}/static/gw/Scripts/inner.min.js"></script>
</head>

<body>
<header>
    <div class="box">
	    <a href="/" title="织梦网站建设与制作"><img src="${ctxPath!}/static/gw/Picture/logo_cases.png" alt="织梦设计出品" /></a>
        <div class="wechat">
    	    <img src="${ctxPath!}/static/gw/Picture/wechat_code.jpg" alt="扫描关注网站建设微信公众账号" class="wechat" /><p>扫一扫微信二维码<i></i></p>
        </div>
        <nav>
          <ul>
            <li><a href="/">织梦首页</a></li>
            <li class='active'><a href='/a/cases/' style='color:white;'>设计案例</a></li>
            <li><a href="/a/news/">文章动态</a></li>
            
          </ul>
        </nav>
    </div>
    <footer>
	    高端定制，品牌设计<br /><u>2008 - 2015</u>作品集<br /><a href="http://www.zsCat.com/" target="_blank">郑州网站建设与制作公司</a>
    </footer>
</header>
    
    <section class="toolbar">
    	<a href="/" title="返回首页" class="homelink"><span class="glyphicon glyphicon-chevron-left"></span></a>
    	<span class="switch glyphicon glyphicon-th-list"></span>
        <div class="category btn-group">
             <a href="/a/cases/" class="btn btn-default btn-primary">全部</a>
             
        	 <a href="/a/cases/edu/" class="btn btn-default">教育</a>
             
        	 <a href="/a/cases/travel/" class="btn btn-default">旅游</a>
             
        	 <a href="/a/cases/estate/" class="btn btn-default">房产</a>
             
        	 <a href="/a/cases/finance/" class="btn btn-default">金融</a>
             
        	 <a href="/a/cases/tech/" class="btn btn-default">科技</a>
             
        	 <a href="/a/cases/medical/" class="btn btn-default">医疗</a>
             
        	 <a href="/a/cases/manufacturing/" class="btn btn-default">制造</a>
             
        	 <a href="/a/cases/farming/" class="btn btn-default">农业</a>
             
        	 <a href="/a/cases/media/" class="btn btn-default">媒体</a>
             
        	 <a href="/a/cases/other/" class="btn btn-default">其他</a>
              
        </div>	
    </section>
    
    <section class="caselist content">
        <ul class="items list-inline">
           @for(item in page.list){
          	 <li>
                    <a href="${ctxPath!}/gw/product/${item.id!}" target="_blank">
                    <img src="${ctxPath!}/uploads/allimg/150429/1-1504291A0160-L.jpg" alt="${item.title}" />
                    <p>网站设计<br /><strong>${item.summary!}</strong><br />门户网站,红色</p></a>
              </li>
		    @}
            
        </ul>
        <div id="Paging" class="paging">
             <div class="qzPagination">
                  <span class="disabled prev">«</span>
<span class="current">1</span>
<a href='list_1_2.html'>2</a>
<a class="next" href='list_1_2.html'>»</a>

             </div>
        </div>
    </section>
    
    <div class="dock">
        <ul class="icons">
        	<li class="up"><i></i></li>
            <li class="tel">
            	<i></i><p>建站咨询热线<br />150-2021-7966</p>
            </li>
            <li class="im">
            	<i></i><p><a href="http://wpa.qq.com/msgrd?v=3&uin=379144319&site=qq&menu=yes" target="_blank">点我，建站咨询</a></p>
            </li>
        </ul>
    </div>
    
</body>
</html>