package ${package}.${module}.model;

import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import lombok.Data;
import java.math.BigDecimal;

import java.io.Serializable;

        /**
         * @Description:${comments}
         *
         * @author ${author}
         * @email ${email}
         * @date ${datetime}
         */
        @Data
        @TableName("${tableName}")
        public class ${Module}${className} extends BaseEntity implements Serializable{
        private static final long serialVersionUID=1L;

    #foreach ($column in $columns)

            @ApiModelProperty(value="$column.comments")
        #if($column.columnName == $pk.columnName)
                @TableId(value="$column.columnName",type=IdType.AUTO)
        #end
        #if($column.columnName != $pk.columnName)
                @TableField("$column.columnName")
        #end
            private $column.attrType $column.attrname;
    #end

        }
