<template> 
    <${classname}-detail :is-edit='true'>
</${classname}-detail>
</template>
<script>
    import ${className}Detail from './components/${className}Detail'

    export default {
        name: 'update${className}',
        components: {${className}Detail}
    }
</script>
<style>
</style>


