<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="${ctxPath!}/static/pc/css/amazeui.min.css">
<link rel="stylesheet" href="${ctxPath!}/static/pc/css/petshow.css?6">
<link rel="stylesheet" href="${ctxPath!}/static/pc/css/animate.min.css">
<script src="${ctxPath!}/static/pc/js/jquery.min.js"></script>
<script src="${ctxPath!}/static/pc/js/amazeui.min.js"></script>
<script src="${ctxPath!}/static/pc/js/amazeui.lazyload.min.js"></script>

</head>
<body>
	<header class="am-topbar am-topbar-inverse">
		<div class="amz-container">
			<h1 class="am-topbar-brand">
				<a href="${ctxPath!}/web/cms/index" class="am-topbar-logo"> <img src="${ctxPath!}/static/pc/img/logo.png?1"
					alt="">
				</a>
			</h1>
			<button
				class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
				data-am-collapse="{target: '#doc-topbar-collapse-5'}">
				<span class="am-sr-only"> 导航切换 </span> <span class="am-icon-bars">
				</span>
			</button>
			<div class="am-collapse am-topbar-collapse"
				id="doc-topbar-collapse-5">
				<ul class="am-nav am-nav-pills am-topbar-nav">
					<li class="am-active"><a href="${ctxPath!}/web/cms/index"> 首页 </a></li>
					@var cateList1=auth.getCateGory("houseNav");
					@for(nav in cateList1){
					<li><a href="${ctxPath!}/web/cms/house/${nav.id}"> ${nav.name!}</a></li>
					@}
					<li class="am-dropdown" data-am-dropdown=""><a
						class="am-dropdown-toggle" data-am-dropdown-toggle=""
						href="javascript:;"> 网站切换 <span class="am-icon-caret-down">
						</span>
					</a>
						<ul class="am-dropdown-content">
							<li><a href="${ctxPath!}/web/cms/index"> 房产网站</a></li>
							<li><a href="${ctxPath!}/web/cms/indexT"> 旅游网站 </a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</header>


	<div data-am-tabs class="am-tabs am-tabs-d2 am_news_tab">
		<div id="wrapper" class="wrapper_nav">

			<ul class="am-tabs-nav am-cf am_cf">
				
				@for(item in cateList){
				<li class=""><a href="#tab${item.id!}">${item.name!}</a></li>
				@}
				<!-- <li class=""><a href="#tab3">涨知识</a></li>
				<li class=""><a href="#tab4">喵星人</a></li>
				<li class=""><a href="#tab5">汪星人</a></li>
				<li class=""><a href="#tab6">医疗</a></li> -->
			</ul>
		</div>
		<div class="am-tabs-bd am_bdfw">
			<!-- tab1 -->
		@for(cate in cateList){
			<div class="am-tab-panel am-fade am-in am-active" id="tab${cate.id!}">
				<div class="am-g dis_line">
				@var aList=auth.getArticleByCate(cate.id);
					@for(article in aList){
					<div class="am-u-sm-6 am_bdfw_block">
						<div class="am_bdfw_block_l">
							<div class="am_bdfw_block_l_info">
								<div class="am_bdfw_block_l_info_l">
									<img src="${imgServer!}/${article.image}" alt="">
								</div>
								<div class="am_bdfw_block_l_info_r">
									<span><a href="${ctxPath!}/web/cms/houseDetails/${article.id!}">${article.title!}</a></span> <span
										class="am_bdfw_block_l_info_tel"><a href="${ctxPath!}/web/cms/houseDetails/${article.id!}">${article.createdate!}</a>
										<i class="am-icon-street-view"></i> </span>
								</div>
							</div>
							<div class="am_bdfw_block_b">
								<div>
									<i>●</i>${strutil.subStringLen(article.description!'',20)} ...
								</div>
								
							</div>
						</div>
						<a class="am_bdfw_block_r"><i class="am-icon-ellipsis-v"></i><i
							class="am-icon-chevron-right"></i></a>
					</div>
					@}
				</div>
			</div>
			@}
			
			<!-- am-tabs-bd end -->
		</div>


		<footer class="am_footer">
		<div class="am_footer_con">
			<div class="am_footer_link">
				<span>关于宠物秀</span>
				<ul>
					<li><a href="${ctxPath!}/web/cms/aboutus">关于我们</a></li>
					<li><a href="${ctxPath!}/web/cms/history">发展历程</a></li>
					<li><a href="${ctxPath!}/web/cms/link">友情链接</a></li>
				</ul>
			</div>


			<div class="am_footer_don">
				<span>房产秀</span>
				<dl>
					<dt>
						<img src="${ctxPath!}/static/pc/img/footdon.png?1" alt="">
					</dt>
					<dd>
						一起Show我们的房产吧！宠物秀是图片配文字、涂鸦、COSPLAY的移动手机社区，这里有猫狗鱼龟兔子仓鼠龙猫等各种萌图。 <a
							href="###" class="footdon_pg ">
							<div class="foot_d_pg am-icon-apple ">App store</div>
						</a><a href="###" class="footdon_az animated">
							<div class="foot_d_az am-icon-android ">Android</div>
						</a>
					</dd>

				</dl>
			</div>

			<div class="am_footer_erweima">
				<div class="am_footer_weixin">
					<img src="${ctxPath!}/static/pc/img/wx.jpg" alt="">

					<div class="am_footer_d_gzwx am-icon-weixin">关注微信</div>
				</div>
				<div class="am_footer_ddon">
					<img src="${ctxPath!}/static/pc/img/wx.jpg" alt="">

					<div class="am_footer_d_dxz am-icon-cloud-download">扫码下载</div>
				</div>

			</div>

		</div>
		<div class="am_info_line">
			Copyright(c)2015 <span>zscat</span> All Rights Reserved
		</div>
	</footer>
		<script>



 $(function(){
    var IScroll = $.AMUI.iScroll;
var myScroll = new IScroll('#wrapper', { eventPassthrough: true, click: true,scrollX: true, scrollY: false, preventDefault: false });
  $('.am_news_tab').css('min-height',$(window).height() - $('.am-topbar').height() - $('.am_footer').height());
  if ($(window).width() < 600 ) {
 $('.am_list_item_text').each(
  function(){
     if($(this).text().length >= 26){
        $(this).html($(this).text().substr(0,26)+'...');
     }});}

  wrapperNav();
$(window).resize(function(){
  wrapperNav();
});

  function wrapperNav(){

    if($(window).width() < 850 ){

      $('.wrapper_nav').attr('id','wrapper');
    }else{
        $('.wrapper_nav').attr('id','');
    }}


});


</script>
</body>
</html>
