@charset "utf-8";
/* CSS Document */
/*交易时间*/
.order-time{display:none;padding:10px 5px ;}
.form-label{width: 80px;float: left;color:#FF0000;font-weight: 600;font-size: 16px;line-height:32px ;}
.am-selected-list li{font-size:12px ;}
.finance,.walletTitle{display: none;}
.walletList{width:100% ;}
.walletCont li{border-bottom: 1px solid #eee;height:60px ;position: relative;}
.walletCont li div{padding:5px 15px;height:30px ;line-height:20px ;}
li .time{position: absolute;right:0px ;top:0px;}
li .amount{position: absolute;right:0px ;bottom:0px;}
.time p{display: inline-block;}
/*字体*/
.content{font-size:14px;font-weight: 600;}
.balance{color:#a5a5a5 ;}
li .amount{color:#72b905;font-size:18px ;font-weight: 600;}
.cost .amount{color: #fd6d37;font-weight: 600;}
@media only screen and (min-width: 640px){
.finance,.order-time,.walletTitle{display:block;}
.order-time{padding:10px 15px 20px;}
.walletList{border-left:  1px solid #eee;border-top:  1px solid #eee;}
.walletTitle li{text-align: center;border-right: 1px solid #f5f5f5;border-bottom: 1px solid #f5f5f5;float:left;height:40px ;line-height:40px ;background: #f5f5f5;}		
.walletCont li div{float: left;height:60px ;border-right: 1px solid #eee;line-height:40px ;text-align: center ;padding:10px ;}

.time{width:30%;position: static !important;}
li .title.name,li.name{width:40%;}
.amount,.balance{width:15%;position: static !important;}
li .balance span{display: none;}

/*字体*/
.content,.balance,li .amount{font-size:14px ;font-weight:100;color:#000 ;}
.financeText{border: none;padding: 10px 5px;position: relative;margin-bottom:0px ;}
.financeText p{border: none;display: inline-block;height: 30px;}
.financeText p span{font-size: 18px;}
.financeText a{position: absolute;top:10px;left:250px;height: 30px;}
	}
@media only screen and (min-width:1025px){
.time{width:25%}
li .title.name,li.name{width:45%;}
.walletList,.financeText{max-width:980px;margin-left: 20px;}
.order-time{padding:10px 20px 20px;}
}


