<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zscat.cms.mapper.CmsLinkMapper" >
  <resultMap id="BaseResultMap" type="com.zscat.cms.model.CmsLink" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="weightDate" property="weightdate" jdbcType="DATE" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="BIGINT" />
  </resultMap>
</mapper>