<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="vke">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>推广员信息-zscat </title>
    <link rel="stylesheet" href="/wx/css/weui.css"/>
    <link rel="stylesheet" href="/wx/css/ifMe.css"/>
    <style>
        .weui-add{
            width:30px;
            padding-left: 5px;
        }
    </style>
</head>
<body>
<div class="page below">
    <div class="page__hd">
        <h1 class="page__title">收入明细</h1>
        <p class="page__desc">注:包括我和我的下线贡献的收入,灰色背景为我的下线贡献的收入</p>
    </div>
    <div class="page__bd">
        <div class="weui-tab">
            <div class="weui-tab__panel">
                <div class="weui-table">
                    <div class="weui-flex table-header">
                        <div class="weui-flex__item">
                            <div class="placeholder">IF号</div>
                        </div>
                        <div class="weui-add">
                            <div class="placeholder">新增</div>
                        </div>
                        <div class="weui-add">
                            <div class="placeholder">活跃</div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">新增分成</div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">活跃分成</div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">汇总</div>
                        </div>
                    </div>
                    <div class="weui-flex" th:each="income:${list}">
                        <div class="weui-flex__item">
                            <div class="placeholder"><span th:text="${income.fromIfCode}"/></div>
                        </div>
                        <div class="weui-add">
                            <div class="placeholder"><span th:text="${#numbers.formatDecimal(income.income1/100.0, 1, 2)}"/></div>
                        </div>
                        <div class="weui-add">
                            <div class="placeholder"><span th:text="${#numbers.formatDecimal(income.income2/100.0, 1, 2)}"/></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><span th:text="${#numbers.formatDecimal(income.income3/100.0, 1, 2)}"/></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><span th:text="${#numbers.formatDecimal(income.income4/100.0, 1, 2)}"/></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><span th:text="${#numbers.formatDecimal(income.totalIncome/100.0, 1, 2)}"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>