<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="vke">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>我的收入-zscat </title>
    <link rel="stylesheet" href="/wx/css/weui.css"/>
    <link rel="stylesheet" href="/wx/css/ifMe.css"/>
</head>
<body>
<div class="page tab">
    <div class="page__bd">
        <div class="weui-tab">
            <div class="weui-tab__panel">
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                            <img th:src="${user.wxAvatar}" style="width: 50px;display: block"/>
                        </div>
                        <div class="weui-cell__bd">
                            <p th:text="${user.wxNickname}">微信昵称</p>
                            <p style="font-size: 13px;color: #888888;" th:text="'等级:'+${user.level}+'级'">等级: 6级</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <span style="vertical-align: middle">提现比例</span>
                        </div>
                        <div class="weui-cell__ft"><span th:text="${rate}+'%'"></span></div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <span style="vertical-align: middle">账户余额</span>
                        </div>
                        <div class="weui-cell__ft"><span th:text="${#numbers.formatDecimal(user.totalIncome/100.0, 1, 2)}"></span></div>
                    </div>
                    <a href="/wx/h5/income/list" class="weui-cell weui-cell_access">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>收入明细</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a href="/wx/h5/withDraw/withdrawHistory1" class="weui-cell weui-cell_access">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>提现记录</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary"  href="/wx/h5/withDraw/toWithDraw" >去提现</a>
                </div>
            </div>

            <div th:replace="tab"></div>
        </div>

    </div>
</div>

</body>
</html>