<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="vke">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>推广员注册-zscat </title>
    <link rel="stylesheet" href="/wx/css/weui.css"/>
    <link rel="stylesheet" href="/wx/css/ifMe.css"/>
    <link rel="stylesheet" href="/wx/css/jquery-weui.min.css"/>
    <script src="/wx/jquery/jquery.min.js"></script>
    <script src="/wx/jquery/jquery-weui.min.js"></script>
</head>
<body>
<div class="page register">
    <div class="page__hd">
        <h1 class="page__title" th:text="'余额:'+${#numbers.formatDecimal(user.totalIncome/100.0, 1, 2)}"></h1>
        <h1 class="page__title" th:text="'可提现金额:'+${balance}"></h1>
        <p class="page__desc">注:该金额为账户余额的<span th:text="${rate}"></span>%</p>
    </div>
    <form class="form-horizontal"  id="withdraw" method="post">
        <div class="page__bd">
            <div class="weui-cells weui-cells_form" th:if="${today} eq 2">
                <div class="weui-cell">
                    <!--<div class="weui-cell__hd"><label class="weui-label">提现金额：</label></div>-->
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="level" type="hidden" th:value="${user.level}" />
                        <input class="weui-input" id="balance" type="hidden" th:value="${#numbers.formatDecimal(user.totalIncome/100.0, 1, 2)}" />
                        <input class="weui-input" id="rate" type="hidden" th:value="${rate}" />
                        <input class="weui-input" id="account" type="number"  readonly="readonly" placeholder=""/>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area" th:if="${today} eq 1">
                <h1 class="page__title" th:text="仅每月1号可以提现一次"></h1>
            </div>
            <div class="weui-btn-area" th:if="${today} eq 2">
                <a class="weui-btn weui-btn_primary" id="create"  href="javascript:">确定</a>
            </div>
            <!--<div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" id="create"  href="javascript:">确定</a>
            </div>-->

            <div class="weui-btn-area" th:if="${today} eq 2">
                <a class="weui-btn weui-btn_warn" id="all" href="javascript:" >100%提现</a>
            </div>
            <div class="weui-btn-area" th:if="${today} eq 1">
                <a class="weui-btn weui-btn_warn" id="enough" href="javascript:" >正确提现</a>
            </div>

            <!-- <div id="tableInclude">

             </div>-->
            <article class="weui-article">
                <section>
                    <section>
                        <h3>提现说明</h3>
                        <p>
                            每个月可进行一次提现
                            不同等级的推广员每次提现额度不一样
                            1级：100%提现,
                            2级：100%提现,
                            3级：90%提现,
                            4级：85%提现,
                            5级：80%提现,
                            6级：75%提现,
                            3级以上的推广员也可以进行全部提现，但是全部提现后，会直接退出推广员计划，之前的所有下线关系全部取消。
                        </p>
                    </section>
                </section>
            </article>
        </div>
    </form>
    <!-- <div id="loadingToast" style="display:none;">
         <div class="weui-mask_transparent"></div>
         <div class="weui-toast">
             <i class="weui-loading weui-icon_toast"></i>
             <p class="weui-toast__content" id="loadValue"></p>
         </div>
     </div>-->
</div>
<script src="/wx/js/zepto.min.js"></script>
<script src="/wx/js/withdraw.js"></script>
</body>
</html>