<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="vke">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>推广员信息-zscat </title>
    <link rel="stylesheet" href="/wx/css/weui.css"/>
    <link rel="stylesheet" href="/wx/css/ifMe.css"/>
    <script src="/wx/jquery/jquery.min.js"></script>
</head>
<style>
    .weui-money .weui-label{
        width:300px;
    }
    .span_mar{
        margin-right:20px;
    }
    .weui-cell p{
        padding:5px 5px;
        display: inline-block;
        font-size: 14px;
    }
    .weui-cell-history{
        text-align:left;
        text-align:center;
    }
</style>
<body>
<div class="page below">
    <div class="page__hd">
        <h1 class="page__title">提现记录</h1>
        <p class="page__desc">包括我所有的提现记录</p>
    </div>
    <div class="page__bd">
        <div class="weui-tab">
            <div class="weui-tab__panel">
                <div class="weui-table">
                    <div class="weui-flex table-header">
                        <div class="weui-flex__item">
                            <div class="placeholder">时间</div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">金额</div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">状态</div>
                        </div>
                    </div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell" th:each="cuser:${pages.list}">
                            <div class="weui-cell__hd weui-money"><label class="weui-label" style=""><p th:text="${#dates.format(cuser.operationtime,'yyyy-MM-dd HH:mm:ss')}" class="span_mar" style="margin-right:20px;">2017/6/28 23:23:23</p >
                                <p th:text="${#numbers.formatDecimal(cuser.money/100.0, 1, 2)}">1</p ></label></div>
                            <div class="weui-cell__bd weui-cell-history">
                                <p th:if="${cuser.status} eq 0" th:text="等待处理"> </p>
                                <p th:if="${cuser.status} eq 1" th:text="操作成功"> </p>
                                <p th:if="${cuser.status} eq 2" th:text="处理失败"> </p>
                                <p th:if="${cuser.status} eq -1" th:text="无效数据"> </p>
                            </div>
                        </div>
                    </div>

                    <div id="tableInclude">

                    </div>
                    <div class="button-sp-area" th:if="${pages.pages>1}">
                        <a th:onclick="'javascript:addMore('+${pages.total}+');'" class="weui-btn weui-btn_plain-default">加载更多</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="loadingToast" style="display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content" id="loadValue"></p>
    </div>
</div>
<script type="text/javascript">
    function addMore(pagenums){
        $.post("/wx/h5/withDraw/withdrawHistory",{
            "pagenum": "2"
        }, function (data){
            $("#tableInclude").html(data);
        });
    }

</script>
</body>
</html>