<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zscat.marketing.mapper.ActiveUserLogMapper" >
  <resultMap id="BaseResultMap" type="com.zscat.marketing.model.ActiveUserLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" property="uid" jdbcType="BIGINT" />
    <id column="active_date" property="activeDate" jdbcType="DATE" />
  </resultMap>
</mapper>