<div class="am-g am-g-fixed smallnav">
				<div class="am-u-sm-3">
					<a href="${ctxPath!}/front/type"><img src="${ctxPath}/static/mall/images/navsmall.jpg" />
						<div class="title">商品分类</div> </a>
				</div>
				<div class="am-u-sm-3">
					<a href="${ctxPath!}/front/blog/index"><img src="${ctxPath}/static/mall/images/huismall.jpg" />
						<div class="title">博客</div> </a>
				</div>
				<div class="am-u-sm-3">
					<a href="${ctxPath!}/person"><img src="${ctxPath}/static/mall/images/mansmall.jpg" />
						<div class="title">个人中心</div> </a>
				</div>
				<div class="am-u-sm-3">
					<a href="#"><img src="${ctxPath}/static/mall/images/moneysmall.jpg" />
						<div class="title">投资理财</div> </a>
				</div>
</div>