@charset "utf-8";

/*
 * Style for job page
 *
 * Developer : dedecms51 team
 * http://www.dedecms51.com/
 *
 */

body{
	width:100%;
	min-width:1000px;
	font-family:"微软雅黑", Arial;
}

a:focus{  
    outline:none;  
}

header{
	position:relative;
	margin-bottom:80px;
	width:100%;
	min-width:1000px;
	height:600px;
	background:url(../Images/headerbg.jpg) no-repeat 35% 60%;
	-moz-background-size:cover;
  	background-size:cover;
}

header a.logo{
	position:absolute;
	display:block;
	top:40px;
	left:60px;
	width:130px;
}

header .words{
	position:absolute;
	top:140px;
	left:50%;
	margin-left:-260px;
	width:520px;
	height:180px;
	background:url(../Images/job_words.png) no-repeat;
}

header a.join{
	position:absolute;
	display:block;
	top:350px;
	left:50%;
	margin-left:-90px;
	width:180px;
	height:60px;
	color:#00dfb9;
	font-size:30px;
	line-height:60px;
	text-align:center;
	text-decoration:none;
	border:1px solid #00dfb9;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-transition:all .3s ease-in-out 0s;
	-moz-transition:all .3s ease-in-out 0s;
	-ms-transition:all .3s ease-in-out 0s;
	-o-transition:all .3s ease-in-out 0s;
	transition:all .3s ease-in-out 0s;
    cursor:pointer;
}

header a.join:hover{
	color:White;
	background:#199882;
	border:1px solid #199882;
}

header ul.item{
	position:absolute;
	top:40px;
	right:60px;
}

header ul.item li a{
	display:block;
	width:90px;
	height:35px;
	color:White;
	line-height:35px;
	text-align:center;
	text-decoration:none;
	background:#199882;
	border:1px solid #199882;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
	-webkit-transition:all .3s ease-in-out 0s;
	-moz-transition:all .3s ease-in-out 0s;
	-ms-transition:all .3s ease-in-out 0s;
	-o-transition:all .3s ease-in-out 0s;
	transition:all .3s ease-in-out 0s;
}

header p{
	position:absolute;
	display:block;
	width:100%;
	bottom:40px;
	color:#eee;
	font-size:16px;
	text-align:center;
}

.container{
	margin:0 auto;
	margin-top:30px;
	padding-left:240px;
	width:740px;
	min-width:740px;
}

.container.sales{
	background:url(../Images/sales.jpg) no-repeat;
}

.container h1{
	font-size:26px;
}

.container p.lead{
	font-size:20px;
}

.container .bs-callout{
	line-height:25px;
}

.container .bs-callout-info{
	border-left-color:#2fd0b5;
}

.container .bs-callout p code{
	font-family:"微软雅黑";
	font-size:14px;
	margin:0px 3px;
	padding:0px 6px 3px 6px;
}

footer{
	margin-top:80px;
	width:100%;
	height:80px;
	color:#eee;
	line-height:80px;
	text-align:center;
	background:#354052;
}

footer u{
	margin:0px 10px;
	text-decoration:none;
}