<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PeopleMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_PEOPLEPEOPLE(
			USERNAME,	
			PASSWORD,	
			CREATEDATE,	
			AGE,	
			PEOPLE_ID
		) values (
			#{USERNAME},	
			#{PASSWORD},	
			#{CREATEDATE},	
			#{AGE},	
			#{PEOPLE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PEOPLEPEOPLE
		where 
			PEOPLE_ID = #{PEOPLE_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_PEOPLEPEOPLE
			set 
				USERNAME = #{USERNAME},
				PASSWORD = #{PASSWORD},
				CREATEDATE = #{CREATEDATE},
				AGE = #{AGE},
			PEOPLE_ID = PEOPLE_ID
			where 
				PEOPLE_ID = #{PEOPLE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			USERNAME,	
			PASSWORD,	
			CREATEDATE,	
			AGE,	
			PEOPLE_ID
		from 
			TB_PEOPLEPEOPLE
		where 
			PEOPLE_ID = #{PEOPLE_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USERNAME,	
				a.PASSWORD,	
				a.CREATEDATE,	
				a.AGE,	
				a.PEOPLE_ID
		from 
				TB_PEOPLEPEOPLE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USERNAME,	
				a.PASSWORD,	
				a.CREATEDATE,	
				a.AGE,	
				a.PEOPLE_ID
		from 
				TB_PEOPLEPEOPLE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PEOPLEPEOPLE
		where 
			PEOPLE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>