<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-l">
				<div class="topMessage">
					<div class="menu-hd">
					@if(auth.isLogin()){
					您好，<a href="${ctxPath}/person" target="_blank"><i
								class="am-icon-user am-icon-fw"></i>${auth.getLoginUser().username}</a>
								 欢迎来到zsTrade交易平台 <a href="${ctxPath}/index"
							target="_blank">【后台管理】</a> |<a href="${ctxPath}/front/logout"
							target="_top">退出</a>
					@}else{
						<a href="${ctxPath}/front/login" target="_top" class="h">亲，请登录</a> 
						<a href="${ctxPath}/front/reg"
							target="_top">免费注册</a>
					@}
						
					</div>
				</div>
			</ul>
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd">
						<a href="${ctxPath}/front" target="_top" class="h">商城首页</a>
						<a href="${ctxPath}/front/index" target="_top" class="h">商城首页2</a>
					</div>
				</div>
				<div class="topMessage my-shangcheng">
					<div class="menu-hd MyShangcheng">
						<a href="${ctxPath}/person" target="_blank"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
					</div>
				</div>
				<div class="topMessage mini-cart">
					<div class="menu-hd">
						<a id="mc-menu-hd" href="${ctxPath}/person/cartList" target="_blank"><i
							class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong
							id="J_MiniCartNum" class="h">【${productClass.selectOwnCartCount()}】</strong></a>
					</div>
				</div>
				<div class="topMessage favorite">
					<div class="menu-hd">
						<a href="${ctxPath}/person/collection" target="_blank"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>
					</div>
			</ul>
		</div>

		<!--悬浮搜索框-->

		<div class="nav white">
			<!-- <div class="logo">
				<a href="${ctxPath}/front"><img src="${ctxPath}/static/mall/images/logo.png" /></a>
			</div> -->
			<a href="${ctxPath}/front">
				<div class="logo"><img src="${ctxPath}/static/mall/images/logo.png" /></div>
					<div class="logoBig">
						<li><img src="${ctxPath}/static/mall/images/logobig.png" /></li>
					</div>
				</a>

			<div class="search-bar pr">
				<a name="index_none_header_sysc" href="#"></a>
				<form action="${ctxPath!}/front/searchLuence" method="post" id="sysuser-save-form">
					<input id="q" name="q" type="text"
						placeholder="搜索" autocomplete="off"> <input
						id="ai-topsearch" class="submit am-btn" value="搜索" index="1"
						type="submit">
				</form>
			</div>
		</div>