<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="${ctxPath!}/static/wap/css/amazeui.min.css">
  <link rel="stylesheet" href="${ctxPath!}/static/wap/css/wap.css">
  <title>内容页列表页</title>
</head>
<body style="background:#ececec">
  <div class="pet_mian" >
    <div class="pet_head">
      <header data-am-widget="header"
          class="am-header am-header-default pet_head_block">
        <div class="am-header-left am-header-nav ">
          <a href="${ctxPath}/wap/cms/index" class="iconfont pet_head_jt_ico">&#xe601;</a>
        </div>
<div class="pet_news_list_tag_name">小梦梦</div>
        <div class="am-header-right am-header-nav">
          <a href="javascript:;" class="iconfont pet_head_gd_ico">&#xe600;</a>
        </div>
      </header>
    </div>

    <div class="pet_more_list">
      <div class="pet_more_list_block">
        <div class="iconfont pet_more_close">×</div>
        <div class="pet_more_list_block">
          <div class="pet_more_list_block_name">
            <div class="pet_more_list_block_name_title">阅读 Read</div>
            <a class="pet_more_list_block_line"> <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe61e;</i>
              <div class="pet_more_list_block_line_font">新鲜事</div>
            </a>
            <a class="pet_more_list_block_line"> <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe607;</i>
              <div class="pet_more_list_block_line_font">趣闻</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe62c;</i>
              <div class="pet_more_list_block_line_font">阅读</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_mengzhuanti pet_more_list_block_line_ico">&#xe622;</i>
              <div class="pet_more_list_block_line_font">专题</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_bk pet_more_list_block_line_ico">&#xe629;</i>
              <div class="pet_more_list_block_line_font">订阅</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_wd pet_more_list_block_line_ico">&#xe602;</i>
              <div class="pet_more_list_block_line_font">专栏</div>
            </a>
            <div class="pet_more_list_block_name_title pet_more_list_block_line_height">服务 Service</div>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe61e;</i>
              <div class="pet_more_list_block_line_font">新鲜事</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe607;</i>
              <div class="pet_more_list_block_line_font">趣闻</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe62c;</i>
              <div class="pet_more_list_block_line_font">阅读</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_mengzhuanti pet_more_list_block_line_ico">&#xe622;</i>
              <div class="pet_more_list_block_line_font">专题</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_bk pet_more_list_block_line_ico">&#xe629;</i>
              <div class="pet_more_list_block_line_font">订阅</div>
            </a>
            <a class="pet_more_list_block_line">
              <i class="iconfont pet_nav_wd pet_more_list_block_line_ico">&#xe602;</i>
              <div class="pet_more_list_block_line_font">专栏</div>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="pet_content pet_content_list">
      <div class="pet_sixin">

            <div class="pet_sixin_nr">
        <div class="pet_sixin_to">
            <div class="pet_sixin_to_l">
                <img src="img/qq1.png" alt="">
            </div>
            <div class="pet_sixin_to_r">
                <div class="pet_sixin_to_r_nr">
                <div class="pet_sixin_to_r_nr_sj"></div>
              到爱尔兰印象最深刻的就是五彩缤纷小房子规则整齐排列在街道上，这样的小镇很多，爱戴尔是其中一座。
                </div>
            </div>
            <div class="pet_sixin_shijian">昨天 12:19</div>
        </div>

        <div class="pet_sixin_form">
            <div class="pet_sixin_form_l">
                <img src="img/qq7.png" alt="">
            </div>
            <div class="pet_sixin_form_r">
                <div class="pet_sixin_form_r_nr">
                <div class="pet_sixin_form_r_nr_sj"></div>
              到爱尔兰印象最深刻的就是五彩缤纷小房子规则整齐排列在街道上，这样的小镇很多，爱戴尔是其中一座，每家花园盛放着姹紫嫣红的花朵，以成片的茅草屋顶与绚丽色彩墙面组成的街道吸引很多欧洲人前往。
                </div>
            </div>
            <div class="pet_sixin_shijian">昨天 12:36</div>
        </div>
 <div class="pet_sixin_to">
            <div class="pet_sixin_to_l">
                <img src="img/qq1.png" alt="">
            </div>
            <div class="pet_sixin_to_r">
                <div class="pet_sixin_to_r_nr">
                <div class="pet_sixin_to_r_nr_sj"></div>
              <img src="img/a2.jpg" alt="">
                </div>
            </div>
            <div class="pet_sixin_shijian">12:19</div>
        </div>

        <div class="pet_sixin_form">
            <div class="pet_sixin_form_l">
                <img src="img/qq7.png" alt="">
            </div>
            <div class="pet_sixin_form_r">
                <div class="pet_sixin_form_r_nr">
                <div class="pet_sixin_form_r_nr_sj"></div>
              Grafton Street扩散开，大大小小商业街橱窗与大门，总能吸引路人投来驻足的目光。老旧红砖外墙并不能掩饰各色橱窗中飘散出的时尚态度。时光在这里交错，好似古典乐与钢琴的结合一样，能迸发出生命的活力。
                </div>
            </div>
        </div>


</div>
<div class="pet_article_dowload">
      <div class="pet_article_dowload_title">关于Amaze UI</div>
      <div class="pet_article_dowload_content"><div class="pet_article_dowload_triangle"></div>
      <div class="pet_article_dowload_ico"><img src="img/footdon.png" alt=""></div>
      <div class="pet_article_dowload_content_font">
Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。
      </div>
      <div class="pet_article_dowload_all">
        <a href="###" class="pet_article_dowload_Az am-icon-apple"> App store</a>
        <a href="###" class="pet_article_dowload_Pg am-icon-android"> Android</a>
      </div>
      </div>
  </div>
        </div>

        <div class="pet_article_footer_info">Copyright(c)2015 zscat All Rights Reserved</div>
      </div>
    </div>
    <script src="${ctxPath!}/static/wap/js/jquery.min.js"></script>
    <script src="${ctxPath!}/static/wap/js/amazeui.min.js"></script>
    <script>
$(function(){

    // 动态计算新闻列表文字样式
    auto_resize();
    $(window).resize(function() {
        auto_resize();
    });
    $('.am-list-thumb img').load(function(){
        auto_resize();
    });
    $('.pet_article_like li:last-child').css('border','none');
        function auto_resize(){
        $('.pet_list_one_nr').height($('.pet_list_one_img').height());
                // alert($('.pet_list_one_nr').height());
    }
        $('.pet_article_user').on('click',function(){
            if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
            }else{
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
            }
        });

        $('.pet_head_gd_ico').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
       });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
});

</script>
</body>
  </html>