<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">zsCat科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于zsCat</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 zsCat.com 版权所有</em>
						</p>
					</div>
				</div>

			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="index.html"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="${ctxPath}/person/information">个人信息</a></li>
							<li> <a href="${ctxPath}/person/safety">安全设置</a></li>
							<li> <a href="${ctxPath}/person/address">地址管理</a></li>
							<li> <a href="${ctxPath}/person/cardlist">快捷支付</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="${ctxPath}/person/order/99">订单管理</a></li>
							<li> <a href="${ctxPath}/person/change">退款售后</a></li>
							<li> <a href="${ctxPath}/person/comment">评价商品</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							<li> <a href="${ctxPath}/person/points">我的积分</a></li>
							<li> <a href="${ctxPath}/person/coupon">优惠券 </a></li>
							<li> <a href="${ctxPath}/person/bonus">红包</a></li>
							<li> <a href="${ctxPath}/person/walletlist">账户余额</a></li>
							<li> <a href="${ctxPath}/person/bill">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="${ctxPath}/person/collection">收藏</a></li>
							<li> <a href="${ctxPath}/person/foot">足迹</a></li>														
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>在线客服</p>
						<ul>
							<li> <a href="${ctxPath}/person/consultation">商品咨询</a></li>
							<li> <a href="${ctxPath}/person/suggest">意见反馈</a></li>							
							
							<li> <a href="${ctxPath}/person/news">我的消息</a></li>
						</ul>
					</li>
				</ul>

			</aside>