<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>付款成功页面</title>
<link rel="stylesheet"  type="text/css" href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/amazeui.css"/>
<link href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="${ctxPath}/static/mall/basic/css/demo.css" rel="stylesheet" type="text/css" />

<link href="${ctxPath}/static/mall/css/sustyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${ctxPath}/static/mall/basic/js/jquery-1.7.min.js"></script>

</head>
<body>
	<div class="main">
		<div class="index">
			<div class="index2">
				<div class="paywaiting">
					<span> <img
						src="${ctxPath}static/pay/loading.gif" /></span>
					<span style="margin-top: 10px;">正在为您跳转支付页面，请等待......</span>
				</div>
			</div>
		</div>
	<div id="payTest">
	
	</div>	
	</div>


<script>
	
		var goodsid=${order_id};
		jQuery.get("${ctxPath}/alipay", {
            "id": goodsid
        }, function (data) {
        	
            jQuery(data).appendTo("#payTest");
        }, "text");
		
		
	
</script>
</body>
</html>
