<!DOCTYPE html>
<html>

<head lang="en">
<meta charset="UTF-8">
<title>注册</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet"
	href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/amazeui.min.css" />
<link href="${ctxPath}/static/mall/css/dlstyle.css" rel="stylesheet"
	type="text/css">
<script
	src="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script
	src="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>

</head>

<body>

	<div class="login-boxtitle">
		<a href="${ctxPath}/front"><img alt=""
			src="${ctxPath}/static/mall/images/logobig.png" /></a>
	</div>

	<div class="res-banner">
		<div class="res-main">
			<div class="login-banner-bg">
				<span></span><img src="${ctxPath}/static/mall/images/big.jpg" />
			</div>
			<div class="login-box">

				<div class="am-tabs" id="doc-my-tabs">
					<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
						<li class="am-active"><a href="">邮箱注册</a></li>
						<li><a href="">手机号注册</a></li>
					</ul>

					<div class="am-tabs-bd">
					<form id="reg-form" action="${ctxPath}/front/reg" method="post">
						<div class="am-tab-panel am-active">
								<div class="user-email">
									<label for="email"><i class="am-icon-envelope-o"></i></label> <input
										type="email" name="email" id="email" placeholder="请输入邮箱账号" data-error="注册失败">
								</div>
								<div class="user-pass">
									<label for="password"><i class="am-icon-lock"></i></label> <input
										type="password" name="password" id="password" placeholder="设置密码">
								</div>
								<div class="user-pass">
									<label for="passwordRepeat"><i class="am-icon-lock"></i></label>
									<input type="password" name="passwordRepeat" id="passwordRepeat"
										placeholder="确认密码">
								</div>
							<!-- <div class="login-links">
								<label for="reader-me"> <input id="reader-me"
									type="checkbox"> 点击表示您同意商城《服务协议》
								</label>
							</div> -->
							<div class="am-cf">
								<input type="submit" name="reg-btn" id="reg-btn" value="注册"
									class="am-btn am-btn-primary am-btn-sm am-fl">
							</div>
				
						</div>
				</form>
						<!-- <div class="am-tab-panel">
							<form id="reg-form1" action="${ctxPath}/front/reg" method="post">
								<div class="user-phone">
									<label for="phone"><i
										class="am-icon-mobile-phone am-icon-md"></i></label> <input type="tel"
										name="phone" id="phone" placeholder="请输入手机号">
								</div>
								<div class="verification">
									<label for="code"><i class="am-icon-code-fork"></i></label> <input
										type="tel" name="" id="code" placeholder="请输入验证码"> <a
										class="btn" href="javascript:void(0);"
										onclick="sendMobileCode();" id="sendMobileCode"> <span
										id="dyMobileButton">获取</span></a>
								</div>
								<div class="user-pass">
									<label for="password"><i class="am-icon-lock"></i></label> <input
										type="password" name="password" id="password" placeholder="设置密码">
								</div>
								<div class="user-pass">
									<label for="passwordRepeat"><i class="am-icon-lock"></i></label>
									<input type="password" name="passwordRepeat" id="passwordRepeat"
										placeholder="确认密码">
								</div>
							</form>
							<div class="login-links">
								<label for="reader-me"> <input id="reader-me"
									type="checkbox"> 点击表示您同意商城《服务协议》
								</label>
							</div>
							<div class="am-cf">
								<input type="submit" name="reg-btn1" id="reg-btn1" value="注册"
									class="am-btn am-btn-primary am-btn-sm am-fl">
							</div>

							<hr>
						</div> -->
						<script>
						$(function() {
						    $('#doc-my-tabs').tabs();
						  })
				  </script>
				
		<script type="text/javascript" src="${ctxPath!}/static/layer/layer.min.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/validate/Validform_v5.3.2_min.js"></script>

			<script>
				
			jQuery(function($) {
				$("#reg-form").Validform({
					btnSubmit:"#reg-btn",
					ajaxPost:true,
					beforeSubmit:function(curform){
						$("#reg-btn").attr("disabled","disabled").find("span").text("注册中…");
					},
					callback:function(data){
						console.log(data);
						if(undefined != data.error){
							$("#reg-btn").removeAttr("disabled").find("span").text("登 录");
							var obj = $("#reg-form input[data-error='"+data.error+"']");
							layer.tips(data.error,obj, {
								guide:0,
								time: 4,
								style : ['background-color:#F26C4F; color:#fff','#F26C4F' ],
							});
						}else{
							window.location.href = "${ctxPath!}/front";
						}
					},
					tiptype : function(msg, o, cssctl) {
						if (!o.obj.is("form")) {
							if (o.type != 2) {
								layer.tips(msg, o.obj, {
									guide:3,
									time: 4,
									style : ['background-color:#F26C4F; color:#fff','#F26C4F' ],
								});
							}
						}
					},
					tipSweep : true
				});
				
				$("#reg-form").keydown(function(e){
					 var e = e || event,
					 keycode = e.which || e.keyCode;
					 if (keycode==13) {
					  $("#reg-btn").trigger("click");
					 }
				});
				
			});
		</script>
							

					</div>
				</div>

			</div>
		</div>
</div>
		<div class="footer ">
			<div class="footer-hd ">
				<p>
					<a href="# ">zsCat科技</a> <b>|</b> <a href="# ">商城首页</a> <b>|</b> <a
						href="# ">支付宝</a> <b>|</b> <a href="# ">物流</a>
				</p>
			</div>
			<div class="footer-bd ">
				<p>
					<a href="# ">关于zsCat</a> <a href="# ">合作伙伴</a> <a href="# ">联系我们</a>
					<a href="# ">网站地图</a> <em>© 2015-2025 zsCat.com 版权所有</em>
				</p>
			</div>
		</div>
</body>

</html>