
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>基于Layui的轻量级问答社区页面模版</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="zsCat,layui,前端社区">
<meta name="description"
	content="zsCat社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
<link rel="stylesheet"
	href="${ctxPath!}/static/blog/shequ/layui/css/layui.css">
<link rel="stylesheet"
	href="${ctxPath!}/static/blog/shequ/css/global.css">
</head>
<body>

	@layout("/blog/community/layout/SheQuHeader.html"){}


	<div class="main layui-clear">
		<div class="wrap">
			<div class="content">
				<div class="zsCat-tab">
					<span> <a href="${ctxPath!}/front/blog/indexs">全部</a>
					 @for(item1 in typeList){
						<a href="javascript:void(0)" onclick="bna('${item1.id!}',this)">${item1.typename!}</a>
					 @}
					 
					</span>
					<form action="http://cn.bing.com/search" class="zsCat-search">
						<i class="iconfont icon-sousuo"></i> <input class="layui-input"
							autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
					</form>
					<a href="${ctxPath}/person/adds" class="layui-btn jie-add">发布问题</a>
				</div>


				<ul class="zsCat-list" id="bna">
				
					
				</ul>

				<div style="text-align: center">
					<div class="laypage-main">
						<a href="${ctxPath!}/front/blog/indexs" class="laypage-next">更多求解</a>
					</div>
				</div>

			</div>
		</div>
		<div class="edge">


			<h3 class="page-title">月度雷锋 - TOP 12</h3>
			<div class="user-looklog leifeng-rank">
				<span> 

				</span>
			</div>

		<h3 class="page-title">最近热帖</h3>
			<ol class="zsCat-list-one">
				@for(type in typeList!){
				<li><a href="${ctxPath}/front/blog/blogListByType/${type.id!}">${type.typename!}</a>
					</li>
				 
				@}
			</ol>
			
			<h3 class="page-title">最近热帖</h3>
			<ol class="zsCat-list-one">
				
				@for(top1 in blogTopList.list){
				<li><a href="${ctxPath}/front/blog/shequDetail/${top1.id!}">${top1.title!}</a>
					<span><i class="iconfont">&#xe60b;</i> 6087</span></li>
				 
				@}
			</ol>

			<h3 class="page-title">近期热议</h3>
			<ol class="zsCat-list-one">
				@for(top2 in blogRamList.list){
				<li><a href="${ctxPath}/front/blog/shequDetail/${top2.id!}">${top2.title!}</a>
					<span><i class="iconfont">&#xe60b;</i> 6087</span></li>
				 
				@}
			</ol>

			<div class="zsCat-link">
				<span>友情链接：</span>
				@for(link in linkList!){
				 <a href="${link.linkurl}" target="_blank">${link.linkname}</a>
				@}
				
			</div>


		</div>
	</div>

	<div class="footer">
		<p>
			<a href="http://zsCat.layui.com/">zsCat社区</a> 2016 &copy; <a
				href="http://www.layui.com/">layui.com</a>
		</p>
		<p>
			<a href="http://zsCat.layui.com/auth/get" target="_blank">产品授权</a> <a
				href="http://zsCat.layui.com/jie/3147.html" target="_blank">VIP说明</a>
			<a href="http://www.layui.com/" target="_blank">商务合作</a> <a
				href="http://weibo.com/SentsinXu" target="_blank" rel="nofollow">微博</a>
			<a href="http://zsCat.layui.com/jie/2461.html" target="_blank">微信公众号</a>
		</p>
	</div>
	<script src="${ctxPath!}/static/blog/shequ/layui/layui.js"></script>
	<script>
	bna(1);
	function bna(type,obj) {
		var lodingHtml = '<div class="tac"><img width="100" height="108" alt="" src="${ctxPath!}/static/loading.gif"></div>' , _timer = null;;
		$.ajax({
			url :"${ctxPath!}/front/blog/ajax/bna",
			data : {
				"order" : type
			},
			type : 'post',
			dataType : 'text',
			beforeSend:function(){
				$("#bna").html(lodingHtml);
				clearTimeout(_timer);
				
			},
			success : function(result) { 
				_timer = setTimeout(function(){
					$("#bna").html(result);
				}, 300);
			}
		});
	}
layui.cache.page = '';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '${ctxPath!}/static/blog/shequ/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "1.0.0"
  ,base: '${ctxPath!}/static/blog/shequ/mods/'
}).extend({
  zsCat: 'index'
}).use('zsCat');
</script>

</body>
</html>