<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.member.mapper.SysAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.ums.SysArea">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="deep" property="deep" />
        <result column="name" property="name" />
        <result column="pinyin_prefix" property="pinyinPrefix" />
        <result column="pinyin" property="pinyin" />
        <result column="ext_id" property="extId" />
        <result column="ext_name" property="extName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, deep, name, pinyin_prefix, pinyin, ext_id, ext_name
    </sql>

</mapper>
