<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.member.mapper.UmsIntegrationChangeHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.ums.UmsIntegrationChangeHistory">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="create_time" property="createTime" />
        <result column="change_type" property="changeType" />
        <result column="change_count" property="changeCount" />
        <result column="operate_man" property="operateMan" />
        <result column="operate_note" property="operateNote" />
        <result column="source_type" property="sourceType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, create_time, change_type, change_count, operate_man, operate_note, source_type
    </sql>

</mapper>
