<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallplus.member.mapper.UmsMemberStatisticsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallplus.common.entity.ums.UmsMemberStatisticsInfo">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="consume_amount" property="consumeAmount" />
        <result column="order_count" property="orderCount" />
        <result column="coupon_count" property="couponCount" />
        <result column="comment_count" property="commentCount" />
        <result column="return_order_count" property="returnOrderCount" />
        <result column="login_count" property="loginCount" />
        <result column="attend_count" property="attendCount" />
        <result column="fans_count" property="fansCount" />
        <result column="collect_product_count" property="collectProductCount" />
        <result column="collect_subject_count" property="collectSubjectCount" />
        <result column="collect_topic_count" property="collectTopicCount" />
        <result column="collect_comment_count" property="collectCommentCount" />
        <result column="invite_friend_count" property="inviteFriendCount" />
        <result column="recent_order_time" property="recentOrderTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, consume_amount, order_count, coupon_count, comment_count, return_order_count, login_count, attend_count, fans_count, collect_product_count, collect_subject_count, collect_topic_count, collect_comment_count, invite_friend_count, recent_order_time
    </sql>

</mapper>
