<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">


    <!-- service implemention bean -->
    <context:annotation-config/>
    <context:component-scan base-package="com.zscat.cms"/>
    <context:property-placeholder location="classpath:application.properties" />
    <dubbo:application name="cms-service" logger="slf4j"/>
    <dubbo:provider filter="logfilter" />
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" id="pig"/>
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" threads="1000" accesslog="true"/>

    <dubbo:service interface="com.zscat.cms.service.CmsArticleService" ref="cmsArticleService" registry="pig"/>
    <dubbo:service interface="com.zscat.cms.service.CmsCategoryService" ref="cmsCategoryService" registry="pig"/>
    <dubbo:service interface="com.zscat.cms.service.CmsCommentService" ref="cmsCommentService" registry="pig"/>
    <dubbo:service interface="com.zscat.cms.service.CmsLinkService" ref="cmsLinkService" registry="pig"/>
    <dubbo:service interface="com.zscat.cms.service.CmsSiteService" ref="cmsSiteService" registry="pig"/>

    
</beans>
